[submodule "qt_ai_network/deps/myframework"]
	path = qt_ai_network/deps/myframework
	url = git@github.com:marwac-9/myframework.git
	branch = master
[submodule "opengl_graphics_physics/projects/deps/myframework"]
	path = opengl_graphics_physics/projects/deps/myframework
	url = git@github.com:marwac-9/myframework.git
	branch = master
